<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.AccountDao">

    <!-- 录入学生信息 -->
    <insert id="registerStudentInfo">
        INSERT INTO
            dorm_account
            (uid, account, password, phone, mail, user_type, name, sex, pid)
        VALUES
            (#{uid}, '', '', '', '', 0, #{name}, #{sex}, 0);
    </insert>

    <!-- 通过Uid获取用户信息 -->
    <select id="getStudentByUid" resultType="com.entry.AccountDO">
        SELECT * FROM dorm_account WHERE uid = #{uid};
    </select>

    <!-- 获取所有注册的学生 -->
    <select id="getAllRegisterStudent" resultType="com.entry.StudentStatusAO">
        SELECT
            account.uid,
            account.name,
            account.sex,
            IF(question_plan.plan_name IS NULL,'',question_plan.plan_name) AS plan_name
        FROM
            dorm_account AS account
        LEFT JOIN
            dorm_question_plan AS question_plan
        ON
            account.pid = question_plan.pid
        WHERE
            user_type != 2
        ORDER BY uid;
    </select>

    <!-- 通过Account获取学生 -->
    <select id="getStudentByAccount" resultType="com.entry.AccountDO">
        SELECT
            uid,
            account,
            password,
            user_type
        FROM
            dorm_account
        WHERE
            account = #{account};
    </select>

    <!-- 学生注册账号 -->
    <insert id="registerStudentAccount">
        UPDATE
            dorm_account
        SET
            account = #{account},
            mail = #{mail},
            password = #{password},
            phone = #{phone},
            user_type  = 1
        WHERE
            uid = #{uid};
    </insert>

    <!-- 删除学生信息 -->
    <delete id="deleteStudentAccountFromDatabase">
        DELETE FROM dorm_account where uid = #{uid}
    </delete>

</mapper>