<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.UserChosenDao">

    <insert id="saveUserChosen">
        INSERT INTO dorm_user_chosen (uid, chosen_json, pid) VALUES (#{uid}, #{chosen}, #{pid});
    </insert>

</mapper>